.container {
    padding: 40px 20px;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    background-color: #3B424A;
    border-radius: 5px;
    
    .wrapper {
        margin: 0 auto;
        width: 80%;
    }
}
