/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(45deg, #F06292, #E55C8A);
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}